
<h1> Totally Not a Fake University </h1>
<h2> Student Resumés </h2>
<hr>

<% @students.each_slice(3) do |three_students| %>
  <div class="row">
  <% three_students.each do |student| %>
  <div class="col-md-4 business-card">
      <a href="/resumes/<%= student['id'] %>"><%= student['first_name'] %> <%= student['last_name'] %></a>
      <p><%= student['email'] %></p>
      <p><%= student['phone_number'] %></p>
    <img src="<%= student['photo'] %>">
  </div>
  <% end %>
  </div>
<% end %>


