<h1>Resumes#show</h1>
<p>Find me in app/views/resumes/show.html.erb</p>

<h1>Student info</h1>
<hr>
<p><%= @student['id'] %></p>
<p><%= @student['first_name'] %></p>
<p><%= @student['last_name'] %></p>
<p><%= @student['email'] %></p>
<p><%= @student['short_bio'] %></p>
<p><%= @student['linkedin_url'] %></p>
<p><%= @student['twitter_handle'] %></p>
<p><%= @student['personal_web_url'] %></p>
<p><%= @student['online_resume_url'] %></p>
<p><%= @student['github_url'] %></p>
<p><%= @student['photo'] %></p>





